body {
    background-color: darkgrey;
}
header {
    background-color: rgba(0, 0, 0, 0.637);
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

header button {
    background: linear-gradient(91deg,rgb(185, 102, 24),rgb(208 211 5),rgb(185 102 24));
    padding: 5px 25px;
    border: none;
    border-radius: 3px;
}

#content {
    display: flex;
    gap: 60px;
    padding: 40px;
}

#wordWrap {
    width: 60%;
    height: 300px;
    background: linear-gradient(91deg,rgb(209, 138, 71),rgb(208 211 5),rgb(209, 138, 71));
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#gameInfo{
    width: 30%;
    background: linear-gradient(91deg,rgb(209, 138, 71),rgb(208 211 5),rgb(209, 138, 71));
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
}

#scoreReset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#scoreReset button {
    background: linear-gradient(91deg,rgb(185, 102, 24),rgb(208 211 5),rgb(185 102 24));;
    padding: 0 30px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 3px;
}

#scoreWrap p {
    margin: 5px;
}

#counter {
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 40px;
}

#message {
    text-align: center;
    font-size: 80px;
    color: red;
}

.letter {
    font-size: 40px;
}

u {
    text-decoration: none;
    border-bottom: 10px solid black;
}

  #wordWrap, #gameInfo {
      border: solid white 1px;
      border-radius: 5px;
      box-shadow: 2px aliceblue;
  }
