body {
    background-color: darkgrey;
}
header {
    background-color: rgba(0, 0, 0, 0.637);
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

header button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    padding: 5px 25px;
    border: none;
    border-radius: 3px;
}

#content {
    display: flex;
    gap: 60px;
    padding: 40px;
}

#wordWrap {
    width: 60%;
    height: 300px;
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

#gameInfo{
    width: 30%;
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
    display: flex;
    flex-direction: column;
    padding: 20px 10px 10px 10px;
}

#scoreReset {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#scoreReset button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    padding: 0 30px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 3px;
}

#scoreWrap p {
    margin: 5px;
}

#counter {
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 40px;
}

#message {
    text-align: center;
    font-size: 50px;
    
}

.letter {
    font-size: 40px;
}

u {
    text-decoration: none;
    border-bottom: 5px solid black;
    padding-right: 10px;
}

  #wordWrap, #gameInfo, #counter {
       border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
  }

  