body {
    background-color: darkgrey;
}
header {
    background-color: rgba(0, 0, 0, 0.637);
    font-size: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

header button {
    background: linear-gradient(91deg,rgb(185, 102, 24),rgb(208 211 5),rgb(185 102 24));
    padding: 5px 25px;
    border: none;
    border-radius: 3px;
}

#content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
}

#wordWrap {
    width: 60%;
    background: linear-gradient(91deg,rgb(185, 102, 24),rgb(208 211 5),rgb(185 102 24));
    padding: 100px;
}

#gameInfo{
    width: 20%;
    background: linear-gradient(91deg,rgb(185, 102, 24),rgb(208 211 5),rgb(185 102 24));
    display: flex;
    flex-direction: column;
}

#scoreReset {
    display: flex;
    justify-content: space-between;
}

#counter {
    background-color: rgba(0, 0, 0, 0.637);
    color: white;
    height: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#time {
    font-size: 40px;
}

#message {
    text-align: center;
    font-size: 80px;
    color: red;
}